.chat-container {
    background-color: #f5f5f5;
}

.chat-messagelist {
    min-height: 600px;
}

.chat-userlist {
    border-left: 1px #404040 solid;
}

.chat-chatbox {    
    min-height: 170px;
    border-top: 1px #404040 solid;
}