.register-container {
    color: white;
}

.register-form-title {
    background-color: #5fb3e4 ;
    border: none;
    color: white;
    padding: 20px 0;
    margin-bottom: 50px;
}

#reset-register-form-button {
    margin-right: 10px;
}

#register-buttons {
    margin-top: 30px;
}
