.login-container {
    color: white;
}

.login-form-title {
    background-color: #5fb3e4 ;
    border: none;
    color: white;
    padding: 20px 0;
    margin-bottom: 50px;
}


#reset-login-form-button {
    margin-right: 10px;
}

#login-buttons {
    margin-top: 30px;
}

.waiting-image {
    margin-top: 90px
}

.waiting-image h4 {
    margin-top: 15px;
}